.appName {
  text-align: center; 
  margin: 1rem;
  padding: 1.5rem;
  border: black solid 2px;
}

.homeLink {
  text-decoration: none;
  color: rgb(55, 55, 95);
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  overflow: scroll; 
}

.expandedContent {
  display: flex;
}

.notes {
  flex-grow: 2;
  height: 80vh;
}

.folders {
  flex-grow: 1;
  height: 80vh;
} 

.expandedCardContainer {
  flex-grow: 2;
  padding: 3rem;
}

.sidebar {
  flex-grow: 1;
  margin: 1.5rem;
}

.folderTitle {
  margin: 2rem;
  width: 100%;
}

.backBtn {
  display: block;
  margin: 2rem;
  width: 100%;
  color: rgb(55, 55, 95);
}